<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Olá <%= nome %></h1>
    <hr>
    <p>Nome: <%= nome %></p>
    <p>Linguagem favorita: <%= lang %></p>

    <% if(admin === true){ %>
        <h1><%= nome %> é um admin ;D</h1>
    <% }else{ %>
        <h1><%= nome %> não é um admin :/</h1>
    <% } %>
    <hr>

    <% produtos.forEach(function(elemento){ %>
        <%= elemento.nome %> <br>

        Preço:<%= elemento.preco %> <br>


    <% }) %>


</body>
</html>