<%- include('base/header.ejs') %>

    <body>
        <%- include('base/navbar.ejs') %>




            <div class="container">
                <br>
                <h1>perguntas</h1>
                <br>
                <a href="/pergunta" class="btn btn-primary">Perguntas</a>
                <hr>
                <% perguntas.forEach(perguntas=> {%>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p>
                                <%= perguntas.titulo %>
                            </p>

                        </div>

                        <div class="card-footer">
                            <a href="/pergunta/<%= perguntas.id %>"><button class="btn btn-primary">Responder</button></a>
                        </div>

                    </div>
                    <% }) %>
            </div>





    </body>
    <%- include('base/footer.ejs') %>